%h1 Products#new
%p Find me in app/views/products/new.html.haml

= simple_form_for @product do |f|
  = f.input :name
  = f.input :description
  = f.input :price
  = f.button :submit, class: 'btn-primary'