!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ECSite
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .container
        = link_to "ECサイト", '#', id: "logo"
        %nav
      %nav.navbar.fixed-top.navbar-light.bg-light
        %a.navbar-brand{:href => "#"}
          %img{:alt => "", :height => "30", :src => "/docs/4.3/assets/brand/bootstrap-solid.svg", :width => "30"}/
        %ul.nav.justify-content-end
          %li.nav-item= link_to "Help",   '#', class: "nav-link"
          %li.nav-item= link_to "sign up", '#', class: "nav-link"
    .container
      %p.notice= notice
      %p.alert= alert
      = yield
